---
// import type { CollectionEntry } from 'astro:content';
// import Head from '../Head.astro';

// type Props = CollectionEntry<'blog'>['data'];
// Settings
// Components

import Head from "./Head.astro";
import {DEFAULT_FAVICON, DEFAULT_FAVICON_TYPE, DEFAULT_LANG, DEFAULT_CHARSET, DEFAULT_TITLE_JOINER} from "./defaults.mjs";

import type {Meta, Props} from "./types/index.d";

const {
  title="",
  titleJoiner=DEFAULT_TITLE_JOINER,
  charSet=DEFAULT_CHARSET,
  description="",
  keywords="",
  author="",
  canonical="",
  class:htmlClass="",
  serviceWorkerScript="",
  favicon=DEFAULT_FAVICON,
  faviconType=DEFAULT_FAVICON_TYPE,
  tmid="",
  manifest="",
  criticalStyles="",
  criticalScripts="",
  externalStyles=[],
  externalScripts=[],
  appleTouchIcons=[],
  webComponents=[],
  meta={},
  image="",
  lang=DEFAULT_LANG,
  twitterMeta=false,
  ogMeta=false,
}:Props = Astro.props;

const aggregateMeta:Meta = {
      title,
      description,
      keywords,
      author,
      image,
      ...meta};

---
<!DOCTYPE html>
<html lang={lang} class={htmlClass}>
    <Head
    charSet={charSet}
    title={title}
    titleJoiner={titleJoiner}
    author={author}
    canonical={canonical}
    serviceWorkerScript={serviceWorkerScript}
    manifest={manifest}
    favicon={favicon}
    faviconType={faviconType}
    tmid={tmid}
    appleTouchIcons={appleTouchIcons}
    webComponents={webComponents}
    externalStyles={externalStyles}
    externalScripts={externalScripts}
    criticalStyles={criticalStyles}
    criticalScripts={criticalScripts}
    image={image}
    meta={aggregateMeta}
    lang={lang}
    twitterMeta={twitterMeta}
    ogMeta={ogMeta}
> <slot name="append-to-head"></slot></Head>
	<body>
		<slot />
    <slot name="append-to-body"></slot>
	</body>
</html>./types